.sidebar{

position: absolute;
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
z-index: 999;
background: linear-gradient(
    60deg,
    rgb(56, 109, 209) 0%,
    rgb(131, 101, 201) 100%
  );
transition: 500ms ease-in-out;

}

.sideBarcontainer{


position: relative;
top: 4rem;
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.4rem;

}

.sideLinks li{
    
list-style: none;
margin-bottom: 2rem;
text-decoration: none;

}

.sideLinks a{
    display: flex;
    color: #d7ebfa;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.sideLinks a:hover{
    border-bottom: 2px solid #d7ebfa;
    transition: 200ms ease-in-out;
}

